.candidate-list {
	padding: 30px;
	width: 100%;
}
.candidate-list .candidate {
	padding: 20px;
	border: 1px solid #999999;
	margin-bottom: 30px;
	width: 100%;
}
.jobs p:first-child {
	margin-bottom: 5px;
}
.skills ul {
	list-style-position: inside;
}